

body {
  /*background-color: greenyellow;*/
  background-image: linear-gradient(red, yellow);
}

header-image {
  background-image: url("../images/akumasaaan-banner-tumblr.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  background-size: 100%;
}

h1 {
  color: purple;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:xx-large;      
}

h3 {
    color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: purple;
}


